<div class="page-header">
  <h3>Meal Item #<%= @meal_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Item name</dt>
      <dd><%= @meal_item.item_name %></dd>

      <dt>Picture</dt>
      <dd><%= @meal_item.picture %></dd>

      <dt>Price</dt>
      <dd><%= @meal_item.price %></dd>

      <dt>Order</dt>
      <dd><%= @meal_item.order_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meal_items" class="btn btn-primary">
        Back
      </a>
      <a href="/meal_items/<%= @meal_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meal_item/<%= @meal_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
